p, table {
	margin-top: 1em;
}

td, #readmsg_title, #readmsg_body {
	white-space: pre-wrap;
}

td {
	min-width: 3em;
	text-align: center;
}

.cent, header, nav, footer, p, th, input, h2 {
	text-align: center;
}

#send_from {
	text-align-last: center;
}

textarea {
	width: 50em;
	height: 10em;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

#tbody_opt_addr td:not(:first-child) {
	text-align: center;
	width: 3em;
}

.mono {
	font-family: monospace;
}

#div_loggedin, #btn_saveaddrdata, #div_readmsg, #div_prefs_gatekeeper, #div_notes_files, #div_notes_texts {
	display: none;
}
