header, nav {
	text-align: center;
	margin-bottom: 1em;
}

footer {
	text-align: center;
	margin-top: 1em;
}

td, th {
	min-width: 3em;
}

textarea {
	width: 50em;
	height: 10em;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

.maindiv {
	margin-top: 1em;
	text-align: center;
}

.bold {font-weight: bold;}
.mono {font-family: monospace;}
.topmargin {margin-top: 1em;}
.center {text-align: center;}
.left {text-align: left;}
.flex {display: flex;}

.flex input {
	flex: 1;
}

td, #readmsg_title, #readmsg_body {
	white-space: pre-wrap;
}

#send_from {
	text-align-last: center;
}

#div_admin td:not(:first-child),
#div_admin th:not(:first-child),
#div_notes_contacts th:last-child,
#div_notes_contacts td:last-child,
#div_notes_texts td:last-child,
#div_notes_texts th:last-child,
#div_prefs_addresses td:not(:first-child),
#div_prefs_addresses th:not(:first-child) {
	text-align: center;
	width: 3em;
}

#gatekeeper_domain, #gatekeeper_addr {
	width:100%;
}

#div_prefs_gatekeeper {
	margin: 0 auto;
}

#list_inbox {
	margin: 0 auto;
	max-width: 80em;
	display: grid;
	grid-template-columns: auto 3fr 1fr 1fr 1fr 3em;
}

#list_sent {
	margin: 0 auto;
	max-width: 80em;
	display: grid;
	grid-template-columns: auto 3fr 1fr 1fr 3em;
}

#list_inbox > div, #list_sent > div {
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#list_inbox > div:nth-child(3n) {
	text-align: right;
}

#list_inbox > div:nth-child(6n), #list_sent > div:nth-child(5n) {
	text-align: center;
}
