td, #readmsg_title, #readmsg_body {
	white-space: pre-wrap;
}

header, nav, footer, p, th, input, h2 {
	text-align: center;
}

select {
	text-align-last: center;
}

textarea {
	width: 50em;
	height: 10em;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

#tbody_opt_addr td:not(:first-child) {
	text-align: center;
	width: 3em;
}

.mono {
	font-family: monospace;
}

#div_loggedin, #div_write, #div_settings, #div_readmsg {
	display: none;
}
