@media (prefers-color-scheme: dark) {
	body, input, textarea, select, button, a {
		background: #000;
		color: #fff;
	}
}

header, nav {
	margin-bottom: 1em;
	text-align: center;
}

footer, .maindiv {
	margin-top: 1em;
	text-align: center;
}

td, th {
	min-width: 3em;
}

textarea {
	height: 10em;
	width: 50em;
}

table {
	margin-left:auto;
	margin-right:auto;
}

.bold {font-weight: bold;}
.mono {font-family: monospace;}
.topmargin {margin-top: 1em;}
.center {text-align: center;}
.left {text-align: left;}
.flex {display: flex;}
.flex input {flex: 1;}

td, #readmsg_title, #readmsg_body {
	white-space: pre-wrap;
}

#send_from {
	text-align-last: center;
}

#div_admin td:not(:first-child),
#div_admin th:not(:first-child),
#div_notes_contacts th:last-child,
#div_notes_contacts td:last-child,
#div_notes_texts td:last-child,
#div_notes_texts th:last-child,
#div_prefs_addresses td:not(:first-child),
#div_prefs_addresses th:not(:first-child) {
	text-align: center;
	width: 3em;
}

#gatekeeper_domain, #gatekeeper_addr {width:100%;}

#tbody_opt_addr {text-align:left;}

#tbl_limits input {width: 3em;}
#tbl_limits th, #tbl_limits td {text-align: center;}

#div_prefs_gatekeeper {margin: 0 auto;}

#list_inbox, #list_sent {
	display: grid;
	margin: 0 auto;
	max-width: 80em;
}

#list_inbox {grid-template-columns: auto 3fr 1fr 1fr 1fr 3em;}
#list_sent  {grid-template-columns: auto 3fr 1fr 1fr 3em;}

#list_inbox > div, #list_sent > div {
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list_inbox > div:nth-child(3n) {
	text-align: right;
}

#list_inbox > div:nth-child(6n), #list_sent > div:nth-child(5n) {
	text-align: center;
}
